<div class="jumbotron">
  <div class="row">
    <h1>Provinces</h1>

    <p class="lead">Rule your lands, join your friends, and march to victory!</p>
  </div>
</div>

<div class="row text-center">
  <h1>Meet the Meat</h1>
  <hr>

  <div class="col-md-3">
    <img src="http://49.media.tumblr.com/946d8f2cfd5e5d3115adb10bbac014e4/tumblr_nqqhixExne1rpco88o1_500.gif" class="img-fluid img-circle">
    <h2>Abdul Alhazred</h2>
    <p class="lead">CEO</p>
    <p>Found in a basket at the foot of the pyramids of Giza, this enigmatic figure is often spotted at the periphery of your vision in the dead of night.</p>
    <p>Watch your back.</p>
  </div>

  <div class="col-md-3">
    <img src="http://33.media.tumblr.com/24b494f05f168d661bc08056d587b60c/tumblr_nmn8gxNVTy1tmmph9o1_400.gif" class="img-fluid img-circle">
    <h2>Leviathan</h2>
    <p class="lead">Devourer of Worlds</p>
    <p>An unholy abomination from beyond the veil of time with a passion for building great software.</p>
  </div>

  <div class="col-md-3">
    <img src="http://38.media.tumblr.com/37b0bb662ed63cb40372a8da22c0a667/tumblr_nqhn15umWp1t9d238o1_540.gif" class="img-fluid img-circle">
    <h2>Teddy Roosevelt</h2>
    <p class="lead">Grand Marshal</p>
    <p>Back from the dead and ready to revolutionize the mobile space, ol' T.R. has a keen eye for design and a keener eye for expanding American influence through hard power.</p>
  </div>

  <div class="col-md-3">
    <img src="http://31.media.tumblr.com/8ae57775a4e04568308b54d70fe6ebe7/tumblr_nnmkv5tbIA1r2geqjo1_540.gif" class="img-fluid img-circle">
    <h2>Ross Mitchell</h2>
    <p class="lead">Mobile Developer</p>
    <p>Builder of world-class mobile apps, with experience at Fast Crab, Pets.com, Weyland Yutani and many others.  I woke up here one day and I can't escape.  Send help!</p>
  </div>
</div>
