<div class="jumbotron">
  <div class="row">
    <h1>Provinces</h1>

    <p class="lead">Work in progress, check back soon!</p>
  </div>
</div>

<div class="row text-center">
  <iframe id="ytplayer"
          type="text/html"
          width="640"
          height="390"
          src="https://www.youtube.com/embed/0248pUAteWk"
          frameborder="0">
</div>

landing page

rank emblems

images


Dependencies:
BCrypt
Bootstrap
Paperclip
  imagemagick
Stripe
