<div class="card">
  <div class="card-block">
    <p class="card-text">Sender: <%= message.sender.username %></p>
  </div>

  <div class="card-block">
    <p class="card-text"><%= message.body %></p>
  </div>
</div>
