<div class="row">
  <div class="col-md-2">
    <%= render "users/card", province: @user.province, user: @user %>
  </div>

  <div class="col-md-10">
    <h1>Messages</h1>

    <% @messages.each do |message| %>
      <%= render "messages/card", message: message %>
    <% end %>
  </div>
</div>