<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <h1>Join Provinces</h1>

    <form action="<%= users_url %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      
      <div class="form-group">
        <label for="user_username">Username</label>
        <input type="text" name="user[username]" id="user_username" class="form-control" value="<%= @user.username %>">
      </div>

      <div class="form-group">
        <label for="user_email">Email</label>
        <input type="text" name="user[email]" id="user_email" class="form-control" value="<%= @user.email %>">
      </div>

      <div class="form-group">
        <label for="user_password">Password</label>
        <input type="password" name="user[password]" id="user_password" class="form-control">
      </div>

      <input type="submit" class="btn btn-primary" value="Sign Up">
    </form>
  </div>
</div>
