<div class="card">
  <div class="card-header">
    <%= link_to province.name, province_url(province), class: "lead card-link" %>
    <span class="card-text"></span>
  </div>
  <div class="card-block">
    <p class="card-text">
      <%= user.username %> - <%= province.nation_membership.member_title %> of <%= nation.name %>
    </p>
  </div>
</div>
